:root {
  --text: #333;
  --text-h: #000;
  --surface: #ffffff;
  --surface-2: #f3f4f6;
  --border: #e5e7eb;
}

body {
  margin: 0;
  background: #f5f5f5;
}


/*  MAIN APP CONTAINER (GLASS EFFECT) */
#root {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);

  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.4);

  min-height: 100vh;
  box-sizing: border-box;
}

/* TEXT */
h1, h2 {
  color: var(--text-h);
}

p {
  margin: 0;
}